body{
    color: white;
    background-color: #212121;
}

.box{
    width: 100px;
    height: 100px;

    margin: 10px;
}

.el1{
    float: left;

    background-color: red;
}
.el2{
    float: right;

    background-color: greenyellow;
}

p{
    text-align: justify;
    margin: 0;
}

img{
    float: left;
    margin-right: 10px;
}

table, td, th{
    text-align: center;
    border: 1px solid white;
    font-size: 48px;
}
th, td{
    padding: 5px;
}

thead, th{
    background-color: blue;
}

td{
    background-color: white;
    color: black;
    border-color: black;
    border-width: 2px;
}